extends layout

block content
  h1 #{title}: #{book.title}
  
  p #[strong Auteur :] 
    a(href=book.author.url) #{book.author.name}
  p #[strong Résumé :] #{book.summary}
  p #[strong ISBN :] #{book.isbn}
  p #[strong Genre :]&nbsp;
    each val, index in book.genre
      a(href=val.url) #{val.name}
      if index < book.genre.length - 1
        |, 
  
  div(style='margin-left:20px;margin-top:20px')
    h4 Exemplaires
    
    each val in book_instances
      hr
      if val.status=='Available'
        p.text-success Disponible
      else if val.status=='Maintenance'
        p.text-danger Maintenance
      else if val.status=='Loaned'
        p.text-warning Emprunté
      else
        p.text-warning #{val.status} 
      p #[strong Imprint:] #{val.imprint}
      if val.status!='Available'
        p #[strong Retour :] #{val.due_back}
      p #[strong Id:]&nbsp;
        a(href=val.url) #{val._id}
 
    else
      p Il n'y a aucun exemplaire de ce livre.