doctype html
html(lang='fr')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
  body
    div(class='container-fluid')
      div(class='row')
        div(class='col-sm-2')
          block sidebar
            ul(class='sidebar-nav')
              li 
                a(href='/catalog') Accueil
              li 
                a(href='/catalog/books') Les livres
              li 
                a(href='/catalog/authors') Les auteurs
              li 
                a(href='/catalog/genres') Les genres
              li 
                a(href='/catalog/bookinstances') Les exemplaires
              li 
                hr
              li 
                a(href='/catalog/author/create') Créer un auteur
              li 
                a(href='/catalog/genre/create') Créer un genre
              li 
                a(href='/catalog/book/create') Créer un livre
              li 
                a(href='/catalog/bookinstance/create') Créer un exemplaire
                
        div(class='col-sm-10')
          block content